body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-color: white;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-heading {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.header-top {
  background-color: #293449;
  color: #ffffff;
  height: 42px;
  font-size: 0;
}

.header-logo {
  float: left;
  display: block;
  height: 42px;
  width: 220px;
  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
  line-height: 42px;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  font-family: "Cuprum", sans-serif;
}

.header-logo:hover,
.footer-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px #9a212a;
}

.header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px #8e1e26;
}

.btn {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  padding: 10px 0;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.header-search-form {
  position: relative;
  float: left;
  width: 270px;
  font-size: 0;
}

.header-search-btn {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  font-size: 17px;
  font-size: 0;
  border: none;
  margin:0;
  padding:0;
  background-color: transparent;
  background-image: url("../img/spritesheet.png");
  background-position: -549px -7px;
  opacity: 0.3;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
}

.header-search-btn:hover {
  background-color: #212a3a;
  opacity: 1;
}

.header-search-btn:active {
  background: #ffffff url("../img/icon-search-active.png") no-repeat 50% 50%;
}

.header-search-field {
  display: inline-block;
  padding-top: 12px;
  padding-right: 7px;
  padding-bottom: 12px;
  padding-left: 50px;
  border: none;
  line-height: 18px;
  height: 42px;
  background-color: #293449;
  width: 224px;
  color: #ffffff;
  font-size: 17px;
  font-family: "Cuprum", sans-serif;
}

.header-search-field:hover {
  background-color: #212a3a;
}

.header-search-field:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-search-field:focus + .header-search-btn {
  background: transparent url("../img/icon-search-active.png") no-repeat 50% 50%;
  opacity: 1;
}

.header-search-field::placeholder {
  color: #ffffff;
}

.header-search-field:focus::placeholder {
  color: #000000;
}

.header-bookmarks,
.header-cart,
.header-order-btn {
  display: block;
  float: left;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
  line-height: 42px;
  height: 42px;
}

.header-order-btn {
  float: right;
  background-color: #63a63e;
  text-align: center;
  width: 150px;
}

.header-order-btn:hover {
  background-color: #5fbb2d;
}

.header-order-btn:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-bookmarks {
  position: relative;
  width: 106px;
  padding-left: 44px;
}

.header-bookmarks::before,
.header-cart::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 15px;
  background: transparent url("../img/spritesheet.png") no-repeat;
  opacity: 0.3;
}

.header-bookmarks::before {
  background-position: -205px -19px;
}

.header-cart::before {
  background-position: -149px -19px;
}

.header-cart {
  position: relative;
  width: 100px;
  padding-left: 50px;
}

.header-bookmarks:hover,
.header-cart:hover {
  background-color: #212a3a;
}

.header-bookmarks:active,
.header-cart:active {
  background-color: #161d29;
}

.header-bookmarks:hover::before,
.header-cart:hover::before {
  opacity: 1;
}

.header-bookmarks:active::before,
.header-cart:active::before {
  opacity: 0.5;
}

.header-bottom {
  background-color: #f1f5f7;
  color: #000000;
  padding-top: 46px;
  padding-bottom: 65px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header-firm-description {
  float: left;
  width: 198px;
  padding-left: 53px;
  margin-bottom: 0;
  margin-right: 69px;
  margin-top: 0;
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  position: relative;
  float: left;
  width: 270px;
}

.header-contacts::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 25px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  top: 10px;
  left: 10px;
  background-position: -498px -17px;
}

.header-tel {
  display: block;
  width: 192px;
  height: 39px;
  border: 3px solid #ffffff;
  text-decoration: none;
  color: #e9292a;
  font-size: 21px;
  line-height: 39px;
  padding-left: 72px;
  margin-bottom: 4px;
}

.header-contacts-address {
  font-size: 14px;
  color: #32425c;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.user-block {
  float: right;
  min-width: 299px;
}

.user-block-login,
.user-block-registration {
  display: block;
  background-color: #ffffff;
  height: 45px;
  text-decoration: none;
  font-size: 21px;
  line-height: 45px;
  color: #000000;
}

.user-block-login {
  position: relative;
  float: left;
  margin-left: 18px;
  min-width: 50px;
  padding-right: 24px;
  padding-left: 47px;
  text-align: center;
}

.user-block-login::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 14px;
  width: 20px;
  height: 20px;
  background: url("../img/spritesheet.png") no-repeat -261px -17px;
}

.user-block-login:hover::before {
  background: url("../img/spritesheet.png") no-repeat -321px -17px;
}

.user-block-login:active::before {
  background: url("../img/spritesheet.png") no-repeat -261px -17px;
}

.user-block-registration {
  float: right;
  min-width: 102px;
  padding: 0 24px;
  text-align: center;
  margin-left: 10px
}

.user-block-login:hover,
.user-block-registration:hover {
  color: #ee3643;
}

.user-block-login:active,
.user-block-registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav {
  margin-top: 40px;
}

.main-nav ul {
  margin: 0 auto;
  list-style: none;
  padding-left: 20px;
  background-color: #32425c;
  box-shadow: 0 5px #293449;
  font-size: 0;
}

.main-nav li {
  display: block;
  float: left;
  margin-right: 0;
}

.main-nav a {
  display: block;
  padding: 0 30px;
  text-decoration: none;
  color: white;
  font-size: 17px;
  line-height: 55px;
}

.main-nav li:first-of-type a,
.main-nav li:last-of-type a {
  padding: 0 33px;
}

.main-nav a:hover {
  background-color: #293449;
}

.main-nav a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.categories {
  margin-top: 59px;
}

.category-block {
  position: relative;
  float: left;
  position: relative;
  padding-left: 22px;
  padding-top: 23px;
  width: 278px;
  min-height: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.category-block::after {
  content: "";
  position: absolute;
  right: 18px;
  bottom: 14px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 90px;
}

.category-materials {
  background-color: #f6b22d;
  margin-left: 0;
}

.category-materials::after {
  background-position: -708px -8px;
}

.category-instruments {
  background-color: #4aafde;
}

.category-instruments::after {
  background-position: -809px -7px;
}

.category-tech {
  background-color: #cc79d1;
}

.category-tech::after {
  background-position: -929px -9px;
}

.category-discount {
  background-color: #85d179;
  margin-left: 0;
}

.category-discount::after {
  background-position: -1042px -13px;
}

.category-delivery {
  background-color: #f6b22d;
  margin-bottom: 0;
  margin-left: 0;
}

.category-delivery::after {
  background-position: -1146px -7px;
}

.category-name {
  font-family: Cuprum, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.new::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: url("../img/spritesheet.png") no-repeat -1273px -20px;
  z-index:5;
}

.category-slider {
  position: relative;
  float: left;
  width: 620px;
  height: 266px;
  background-color: #493f40;
  margin-bottom: 0;
  margin-right: 20px;
  font-size: 14px;
}

.category-slide-title {
  margin-bottom: 6px;
  font-size: 36px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
}

.category-slide-title + div {
  font-size: 18px;
  margin-bottom: 121px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: white;
}

.category-slide-btn {
  float: left;
  min-width: 197px;
}

.category-slide {
  display: none;
  padding: 24px;
  background-repeat: no-repeat;
}

.category-slider input[type="radio"] {
  display: none;
}

.category-slider-controls {
  position: absolute;
  left: 295px;
  bottom: 24px;
  z-index: 10;
  font-size: 0;
}

.category-slider-controls label {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 11px;
  vertical-align: top;
  background-color: white;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.category-slide-one {
  background-image: url("../img/slider-1.jpg");
}

.category-slide-two {
  background-image: url("../img/slider-2.jpg");
}

#btn-1:checked ~ .category-slides #slide1,
#btn-2:checked ~ .category-slides #slide2 {
  display: block;
}

#btn-1:checked ~ .category-slider-controls label[for="btn-1"],
#btn-2:checked ~ .category-slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}

.category-slides {
  position: relative;
}

.category-slides .prev {
  position: absolute;
  top: 114px;
  left: 25px;
  display: block;
  width: 22px;
  height: 40px;
  background-image: url("../img/arrow-left.png");
  cursor: pointer;
}

.category-slides .next {
  position: absolute;
  top: 114px;
  right: 21px;
  display: block;
  width: 22px;
  height: 40px;
  background-image: url("../img/arrow-right.png");
  cursor: pointer;
}

.category-block a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 38px;
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.category-block a:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.category-block a:active{
  background-color: rgba(0, 0, 0, 0.3);
}

.categories {
  margin-bottom: 53px;
}

.popular-items-header,
.popular-brands-header {
  margin-bottom: 20px;
  background-color: #f7f3ec;
  padding-left: 30px;
  padding-right: 24px;
}

.popular-items-heading,
.popular-brands-heading {
  float: left;
  color: #32425c;
  line-height: 89px;
  margin-right: 33px;
}

.popular-brands-header {
  padding-left: 25px;
}

.popular-items-btn,
.popular-brands-btn {
  float: right;
  min-width: 253px;
  margin-top: 25px;
}

.gallery {
  font-size: 0;
}

.gallery-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #e5e5e5;
  width: 218px;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.gallery-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.gallery-item:last-child {
  margin-right: 0;
}

.gallery-item-new::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  background: url("../img/spritesheet.png") no-repeat -1273px -20px;
  z-index:5;
}

.gallery-actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 42px 0;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}

.gallery-item:hover .gallery-actions {
  display: block;
}

.gallery-actions .buy,
.gallery-actions .bookmark {
  position: relative;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.gallery-actions .buy::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -150px -18px;
  opacity: 0.3;
}

.gallery-actions .bookmark {
  color: #32425c;
  background: #ffffff;
  border-bottom-color: #63a63e;
}

.gallery-actions .bookmark:hover {
  border-color: #32425c;
  border-bottom-color: #32425c;
}

.gallery-actions .bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
  border-bottom-color: rgba(50, 66, 92, 0.3);
}

.gallery-actions .buy:hover {
  border-color: #5fbb2d;
  background-color: #5fbb2d;
  border-bottom-color: #367315;
}

.gallery-actions .buy:hover::before {
  opacity: 1;
}

.gallery-actions .buy:active {
  border-color: #518534;
  background-color: #518534;
}

.gallery-actions .buy:active::before {
  opacity: 1;
}

.gallery-item .image {
  width: 218px;
  height: 168px;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}

.item-name {
  font-size: 18px;
  min-height: 40px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 25px;
}

.old-price {
  font-size: 17px;
  text-decoration: line-through;
  min-height: 20px;
  color: #999999;
  margin-top: 10px;
  margin-bottom: 9px;
}

.new-price {
  position: relative;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  width: 80px;
  margin: 10px auto 10px 43px;
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #ee3643;
}

.new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: transparent;
}

.brands-list {
  font-size: 0;
  margin-bottom: 65px;
}

.brand {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  border: 1px solid #e5e5e5;
  width: 218px;
  min-height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 143px;
}

.brand:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brand:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.brand:active img {
  opacity: 0.3;
}

.brand:nth-child(4n) {
  margin-right: 0;
}

.brand img {
  vertical-align: middle;
}

.service {
  background-color: #f2f6f8;
  padding-top: 68px;
  margin-bottom: 82px;
}

.service-slider-paragraph,
.service-paragraph {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  margin: 0;
}

.service-paragraph {
  margin-top: 29px;
  margin-bottom: 69px;
}

.services-slider input[type="radio"] {
  display: none;
}

.service-slider-title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  margin: 0;
  margin-bottom: 25px;
}

.service-slider-nav {
  position: relative;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 240px;
  margin-right: 80px;
}

.service-slider-nav::after {
  content: "";
  position: absolute;
  left: 230px;
  top: -42px;
  width: 10px;
  height: 272px;
  background: url("../img/shadow.png") no-repeat;
  opacity: 0.25;
}

.service-slider-nav label {
  display: block;
  width: 217px;
  font-size: 21px;
  line-height: 61px;
  color: #ffffff;
  padding-left: 23px;
  background-color: #32425c;
  box-shadow: inset 0 -1px 0 0 #293449,
              inset 0 1px 0 0 #405069;
  cursor: pointer;
}

.service-slider-nav label:hover {
  background-color: #293449;
  box-shadow: none;
}

.service-slides {
  width: 620px;
  height: 286px;
  float: right;
}

.service-slide {
  display: none;
}

#nav-1:checked ~ .service-slides #service-slide-1,
#nav-2:checked ~ .service-slides #service-slide-2,
#nav-3:checked ~ .service-slides #service-slide-3 {
  display: block;
}

#nav-1:checked ~ .service-slider-nav label[for="nav-1"],
#nav-2:checked ~ .service-slider-nav label[for="nav-2"],
#nav-3:checked ~ .service-slider-nav label[for="nav-3"] {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: none;
}

#nav-1:checked ~ .service-slides {
  background: url("../img/service-1.png") no-repeat right bottom;
}

#nav-2:checked ~ .service-slides {
  background: url("../img/service-2.png") no-repeat right bottom;
}

#nav-3:checked ~ .service-slides {
  background: url("../img/service-3.png") no-repeat right bottom;
}

.service-slide-one p {
  width: 276px;
}

.service-slide-two p {
  width: 380px;
}

.service-slide-three p {
  width: 280px;
}

.credit-btn {
  display: inline-block;
  margin-top: 27px;
  min-width: 194px;
}

.about {
  margin-bottom: 86px;
}

.contacts-heading,
.firm-name {
  margin-bottom: 30px;
}

.about-description {
  float: left;
  width: 519px;
  margin-right: 120px;
}

.about-contacts {
  float: right;
  width: 301px;
}

.about-description-content,
.about-contacts-content {
  min-height: 244px;
  margin-bottom: 32px;
}

.about-description p,
.about-contacts p {
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

.about-description-content p:first-child {
  letter-spacing: 0.11px;
}

.about-contacts p {
  margin-bottom: 31px;
}

.about-contacts-content a {
  display: block;
  height: 158px;
  width: 300px;
}

.about-description-content p:first-child {
  margin-bottom: 23px;
}

.about-description-content ul {
  list-style: none;
  font-size: 18px;
  margin: 0;
  margin-top: 3px;
  padding: 0;
}

.about-description-content li {
  position: relative;
  padding-left: 37px;
  padding-top: 16px;
}

.about-description-content li::before {
  position: absolute;
  content: "";
  background-color: #ee3643;
  width: 25px;
  height: 2px;
  left: 0;
  top: 27px;
}

.more-about-btn {
  display: inline-block;
  min-width: 220px;
}

.footer-top {
  background-color: #32425c;
  padding-bottom: 50px;
}

.footer-logo {
  display: block;
  height: 63px;
  width: 220px;
  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
  line-height: 63px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-size: 30px;
  text-align: center;
  font-family: "Cuprum", sans-serif;
}

.footer-top-left-column,
.footer-top-right-column {
  float: left;
}

.footer-top-left-column {
  width: 372px;
  margin-right: 20px;
}

.footer-top-right-column {
  width: 548px;
}

.footer-address {
  display: block;
  margin: 0;
  margin-left: 4px;
  font-size: 18px;
  color: #ffffff;
}

.footer-main-nav ul,
.footer-nav ul {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-main-nav a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #f1f5f7;
  line-height: 38px;
}

.footer-main-nav a:hover {
  text-decoration: underline;
}

.footer-main-nav a:active {
  text-decoration: underline;
  color: rgba(241, 245, 247, 0.5);
}

.footer-main-nav li {
  display: block;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.footer-main-nav li:last-child {
  padding-right: 0;
  padding-left: 25px;
}

.footer-main-nav li:first-child {
  padding-left: 0;
}

.footer-nav a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #ffd180;
  line-height: 48px;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-nav li {
  display: block;
  float: left;
  padding: 0 29px;
  padding-top: 15px;
  font-size: 18px;
}

.footer-nav li:first-child {
  padding-left: 24px;
}

.footer-nav li:last-child {
  float: right;
  padding-right: 0px;
}

.footer-bottom {
  background-color: #293449;
  padding-top: 37px;
  padding-bottom: 34px;
}

.footer-copyright {
  margin: 0;
  float: left;
  width: 227px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-right: 160px;
  margin-left: 2px;
}

.social-block {
  float: left;
  margin-right: 120px;
  font-size: 0;
}

.social-btn {
  display: block;
  float: left;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #212a3a;
  margin-right: 5px;
  background-image: url("../img/spritesheet.png");
}

.social-btn:hover {
  background-color: #ee3643;
}

.social-btn:active {
  background-color: #ee3643;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn-vk {
  background-position: -1470px -5px;
}

.social-btn-fb {
  background-position: -1357px -9px;
}

.social-btn-in {
  background-position: -1411px -9px;
}

.feedback {
  float: left;
  width: 135px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.designed-by {
  float: right;
  width: 110px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.designed-by a,
.feedback a {
  text-decoration: none;
  color: #ffd180;
  font-size: 16px;
}

.designed-by a:hover,
.feedback a:hover {
  text-decoration: underline;
}

.designed-by a:active,
.feedback a:active {
  color: #ee3643;
  text-decoration: none;
}

/*Часть для каталога*/

.inner-page-header-logo {
  text-decoration: none;
}

.inner-pafe-footer-logo {
  text-decoration: none;
}

.header-cart-active {
  background-color: #ee3643;
}

.header-cart-active:hover {
  background-color: #ca2c37;
}

.header-cart-active:active {
  background-color: #ba2732;
}

.user-block-name {
  background-color: #ffffff;
  margin-bottom: 4px;
}

.user-name {
  position: relative;
  display: block;
  float: left;
  text-decoration: none;
  font-size: 21px;
  color: #000000;
  line-height: 45px;
  padding-left: 46px;
}

.user-name::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  top: 10px;
  left: 15px;
  background: url("../img/spritesheet.png") no-repeat -621px -17px;
}

.user-name:hover::before {
  background-position: -681px -17px;
}

.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-name:active::before {
  background-position: -621px -17px;
}

.user-logout {
  display: block;
  float: right;
  text-decoration: none;
  font-size: 0;
  color: #000000;
  line-height: 45px;
  width: 45px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -367px -6px;
}

.user-logout:hover {
  background-position: -428px -6px;
}

.user-logout:active {
  background-position: -367px -6px;
}

.my-orders,
.personal {
  font-size: 16px;
  color: #32425c;
}

.my-orders {
  padding-left: 17px;
}

.personal {
  position: relative;
  padding-left: 27px;
}

.personal::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 7px;
  left: 11px;
  background-color: #32425c;
  border-radius: 50%;
}

.my-orders:hover,
.personal:hover {
  color: #ee3643;
}

.my-orders:active,
.personal:active {
  color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs a:not(.home) {
  padding-left: 37px;
}

.breadcrumbs a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  line-height: 59px;
  color: #000000;
}

.breadcrumbs a:not(.home)::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 12px;
  width: 8px;
  height: 12px;
  background: url("../img/breadcrumbs-arrow.png") no-repeat;
}

.breadcrumbs .home {
  display: inline-block;
  vertical-align: middle;
  line-height: 59px;
  width: 15px;
  height: 12px;
  font-size: 0;
  background: url("../img/icon-home.png") no-repeat;
}

.catalog-main-heading {
  display: block;
  line-height: 89px;
  color: #32425c;
  padding-left: 30px;
  background-color: #f2f6f8;
  margin-bottom: 20px;
}

.filters {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.filter-price,
.filter-brand,
.filter-power {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
  margin-bottom: 23px;
}

.filter-brand {
  padding-bottom: 21px;
}

.filter-power {
  border-bottom: none;
}

.filters h3 {
  font-size: 17px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 18px;
  line-height: 17px;
}

.range-controls {
  position: relative;
  background-color: #f7f3ec;
  height: 80px;
  margin-bottom: 9px;
  padding: 0 20px;
  border-radius: 4px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background-color: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #ababab;
}

.range-controls .max-toggle {
  left: 160px;
}

.price-controls .price-min,
.price-controls .price-max {
  width: 82px;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-style: normal;
  padding: 10px 7px;
  background-color: #f7f3ec;
  border: none;
  border-radius: 4px;
}

.price-controls {
  position: relative;
  height: 38px;
}

.price-controls::before {
  content: "—";
  position: absolute;
  top: 7px;
  left: 105px;
}

.price-controls .price-min {
  position: absolute;
  left: 0;
}

.price-controls .price-max {
  position: absolute;
  right: 0;
}

.filter-brand ul,
.filter-power ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-brand input {
  display: none;
}

.filter-brand label,
.filter-power label {
  display: block;
  position: relative;
  padding-left: 34px;
  margin: 17px 0;
  font-size: 15px;
  line-height: 23px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-power label {
  font-size: 14px;
}

.filter-brand label:last-child,
.filter-power label:last-child {
  margin-bottom: 0;
}

.filter-brand label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background: no-repeat url("../img/checkboxes.png") -5px -5px;
  opacity: 0.8;
}

input[name="filter-brand"]:checked + label::before {
  background-position: -38px -5px;
}

.filter-power input {
  display: none;
}

.filter-power label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 8px;
  height: 8px;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid #c1c1c1;
}

input[name="filter-power"]:checked + label::before {
  background-clip: content-box;
  background-color: #c1c1c1;
}

input[name="filter-power"]:checked:not(:disabled) + label:hover::before {
  background-clip: content-box;
  background-color: #b5b5b5;
}

.filter-power label:hover::before {
  border: 3px solid #b5b5b5;
}

.filter-brand label:hover::before {
  opacity: 1;
}

input[name="filter-power"]:disabled + label,
input[name="filter-brand"]:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

input[name="filter-power"]:disabled + label::before,
input[name="filter-brand"]:disabled + label::before {
  opacity: 0.3;
}

.filter-power input:disabled + label::before {
  opacity: 0.3;
}

.filter-power input:disabled + label:hover::before,
.filter-power input:disabled:checked + label:hover::before {
  border: 3px solid #c1c1c1;
  opacity: 0.3;
}

.apply-filter-btn {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 0;
  margin-top: 29px;
  border-radius: 2px;
  min-width: 140px;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  padding: 9px 0;
  line-height: 18px;
  text-align: center;
}

.apply-filter-btn:hover,
.pagination-page-number:hover,
.pagination-next-page:hover {
  border-color: #bdc6ca;
}

.apply-filter-btn:active,
.pagination-page-number:active,
.pagination-next-page:active {
  border-color: #ee3643;
}

.main-gallery {
  float: right;
  width: 700px;
  font-size: 0;
  margin-bottom: 60px;
}

.gallery-sorting,
.filters-heading {
  position: relative;
  font-size: 0px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
  margin-bottom: 20px;
  padding-left: 19px;
  border-radius: 3px;
}

.gallery-sorting-name,
.filters-heading {
  font-size: 13px;
  line-height: 38px;
}

.gallery-sorting-name {
  display: inline-block;
  vertical-align: top;
  width: 201px;
  margin-right: 20px;
}

.gallery-sorting a {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
  margin-top: 10px;
}

.sort-price {
  margin-right: 72px;
}

.sort-type {
  margin-right: 65px;
}

.sort-function {
  margin-right: 46px;
}

.sort-price:hover,
.sort-type:hover,
.sort-function:hover {
  border-bottom: 1px solid #ee3643;
  color: #000000;
}

.sort-price:active,
.sort-type:active,
.sort-function:active {
  border-bottom: none;
  color: #ee3643;
}

.sort-price:focus,
.sort-type:focus,
.sort-function:focus {
  border-bottom: none;
  color: #ee3643;
}

.gallery-sorting .sort-ascending,
.gallery-sorting .sort-descending {
  position: absolute;
  font-size: 0;
  text-decoration: none;
  width: 0;
  height: 3px;
  border-bottom: 10px solid #c6c2bd;
  border-top: 10px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.gallery-sorting .sort-ascending {
  bottom: 15px;
  right: 49px;
}

.gallery-sorting .sort-descending {
  transform: rotate(180deg);
  top: 3px;
  right: 17px;
}

.gallery-sorting .sort-ascending:hover,
.gallery-sorting .sort-descending:hover {
  border-bottom-color: #010101;
}

.gallery-sorting .sort-ascending:active,
.gallery-sorting .sort-descending:active {
  border-bottom-color: #ee3643;
}

.gallery-sorting .sort-ascending:focus,
.gallery-sorting .sort-descending:focus {
  border-bottom-color: #ee3643;
}

.gallery-sorting .sort-ascending-active {
  border-bottom-color: #ee3643;
}

.gallery-sorting .sort-price-active {
  border-bottom: none;
  color: #ee3643;
}

.main-gallery .gallery-item {
  margin-right: 20px;
  font-size: 17px;
  margin-bottom: 20px;
}

.main-gallery .gallery-item:nth-of-type(3n) {
  margin-right: 0px;
}

.pagination {
  font-size: 0;
  margin-top: 32px;
}

.pagination-page-number,
.pagination-next-page {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
  width: 36px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
}

.pagination-next-page {
  min-width: 138px;
}

.pagination .active {
  border: 1px solid #ee3643;
  background-color: #ee3643;
  color: #ffffff;
}

.category-info {
  background-color: #f2f6f8;
  padding: 68px 0;
}

.category-info-heading {
  color: #32425c;
  margin-bottom: 29px;
}

.category-info p {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

.category-info span {
  letter-spacing: 0.14px;
}

/*Модпльное окно CART*/

.modal-content-cart {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  min-height: 273px;
  background-color: white;
  margin-top: -200px;
  margin-left: -295px;
  box-shadow: 0 13px 25px 7px rgba(41, 52, 73, 0.5),
              0 -7px #ee3643;
  z-index: 20;
}

.modal-content-cart p {
  position: relative;
  background-color: #ffffff;
  margin: 0;
  margin-top: 32px;
  font-size: 30px;
  line-height: 31px;
  padding-top: 34px;
  padding-bottom: 66px;
  padding-left: 180px;
}

.modal-content-cart p::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 64px;
  left: 80px;
  top: 17px;
  background: #63a63e url("../img/tickmark.svg") no-repeat 50% 50%;
  border-radius: 50%;
}

.confirm-btns {
  background-color: #f1f1f1;
  padding: 37px 80px;
}

.order-confirm-btn,
.continue-confirm-btn {
  float: left;
  width: 220px;
}

.order-confirm-btn {
  margin-right: 20px;
}

.continue-confirm-btn {
  color: #000000;
  background-color: #ffffff;
}

.continue-confirm-btn:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.continue-confirm-btn:active {
  color: #000000;
  background-color: #ffffff;
}

.modal-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}

/*Модпльное окно WRITE US*/

.modal-content-write-us {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  min-height: 423px;
  background-color: white;
  box-shadow: 0 13px 25px 7px rgba(41, 52, 73, 0.5),
              0 -7px #ee3643;
  z-index: 20;
}

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.close-btn {
  position: absolute;
  right: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  margin-right: 9px;
  margin-top: 9px;
  padding: 0;
  cursor: pointer;
}

.close-btn::after,
.close-btn::before {
  position: absolute;
  content: "";
  width: 27px;
  height: 5px;
  top: 8px;
  left: -3px;
  border-radius: 1px;
  background-color: #ee3643;
}

.close-btn::after {
  transform: rotate(45deg);
}

.close-btn::before {
  transform: rotate(-45deg);
}

.write-us-bottom {
  background-color: #f1f1f1;
  padding: 37px 80px;
}

.send-btn {
  float: left;
  width: 460px;
  font-family: "Cuprum", sans-serif;
  border: none;
  border-radius: 3px;
}

.input-fields {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 45px;
  padding-bottom: 37px;
  min-height: 266px;
  font-size: 0;
}

.input-fields label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.input-fields input {
    width: 188px;
    margin: 0;
    height: 18px;
    margin-bottom: 20px;
    padding: 8px 14px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    color: #999999;
    border: 2px solid #d7dcde;
    border-radius: 4px;
    vertical-align: middle;
}

.input-fields textarea {
    width: 428px;
    margin: 0;
    height: 94px;
    padding: 8px 14px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    color: #999999;
    border: 2px solid #d7dcde;
    border-radius: 4px;
    vertical-align: top;
}

.half-width {
  display: inline-block;
  max-width: 220px;
  margin-right: 20px;
}

.input-fields .half-width:last-of-type {
  margin-right: 0;
}

/* Карта */

.modal-content-map {
  position: fixed;
  display: none;
  top: 20%;
  left: 50%;
  margin-left: -470px;
  width: 940px;
  height: 447px;
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(35, 31, 32, 0.2);
  z-index: 20;
}

/* Для JS */

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-overlay-show {
  display: block;
}
